.input-field {
    vertical-align: middle;
}

.minus, .plus {
    width:20px;
	height:20px;
	background:#f2f2f2;
	padding:8px 5px 8px 5px;
	border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.food-name {
    width: 200px !important;
}

.food-name, .food-qty {
    height:34px;
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
}

.food-x {
    margin: 20px 20px;
}

button {
    margin: 20px 20px;
}